resources/xml/schemas/mapping.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="mapping">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="element" minOccurs = "0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" type="xs:integer"/>
						<xs:element name="id" type="xs:integer"/>
						<xs:element name="mapped" type="xs:integer"/>
						<xs:element name="tab" type="xs:integer"/>
						<xs:element name="row" type="xs:integer"/>
						<xs:element name="col" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>